<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Amazing-Balcony 植物档案</title>

<link rel="icon" href="img/titleicon.jpg">
<link rel="shortcut icon" href="img/titleicon.jpg">
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3" id="userContent">Amazing-Balcony Admin <sup><i v-text="username">!</i></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="./index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>


      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="dataanalysis.html">
          <i class="fas fa-chart-pie"></i>
          <span>数据分析</span></a>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="room.html">
          <i class="fas fa-camera"></i>
          <span>实时监控</span></a>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-user-friends"></i>
          <span>用户管理</span></a>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="alerts.html">
          <i class="fas fa-fw fa-bell-slash"></i>
          <span>报警提醒</span></a>
      </li>
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-info-circle"></i>
          <span>公告与反馈</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="./addAnnouncement.html">公告管理</a>
            <a class="collapse-item" href="./message.html">反馈消息</a>
          </div>
        </div>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="map.html">
          <i class="fas fa-fw fa-map-marker"></i>
          <span>用户分布</span></a>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="./icons.html">
          <i class="fas fa-fw fa-file-code"></i>
          <span>植物档案</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>个人中心</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">信息管理</h6>
            <a class="collapse-item" href="./user.html">个人信息</a>
            <a class="collapse-item" href="./forgot-password.html">修改密码</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" v-text="alert_sum">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  报警中心
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#" v-for="(item,index) in tmdalert">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <!--<div  v-on:click="doupdateAlert(item.id)">-->
                    <div class="small text-gray-500" v-text="item.create_TIME">December 2, 2019</div>
                    <i v-text="item.username">Spending Alert: We've noticed unusually high spending for your account.</i>
                    <i v-text="item.type_NAME">Spending Alert: We've noticed unusually high spending for your account.</i>
                    <i v-text="item.data">Spending Alert: We've noticed unusually high spending for your account.</i>
                    <i><i style="color: firebrick">已读：</i><i v-text="item.state">Spending Alert: We've noticed unusually high spending for your account.</i></i>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Ignore All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter" v-text="message_sum">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#" v-for="(item,index) in tmdmessage">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold" v-on:click="doupdateMessage(item.id)">
                    <div class="text-truncate" v-text="item.message">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="text-truncate" >
                      <i style="color: firebrick">已读：</i><i v-text="item.state"></i></div>
                    <div class="small text-gray-500"><i v-text="item.username"></i> · <i v-text="item.create_TIME">30min</i></div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>
                <img class="img-profile rounded-circle" src="img/profile.jpg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="user.html">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-1 text-gray-800">这里是植物数据库</h1>
          <p class="mb-4">我们根据广大用户的花园植物建立了庞大的植物档案库 <a href="https://getbootstrap.com/docs">Amazing Balcony</a> page. 这些植物信息能够几乎满足所有用户的需求，
            </br>并且我们仍在不断地搜集更多的植物信息，以扩大数据库的容量</p>

          <!-- Content Row -->
          <div class="row">

            <!-- Border Left Utilities -->
            <div class="col-lg-6">

              <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                  胡令清风伴乌啼，却问谁人故？
                  <i style="margin-left: 53%"><a href="addplants.html" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-plus" title="点击我添加植物！"></i>
                  </a></i>
                </div>
              </div>

              <div class="card shadow mb-4 border-bottom-primary" v-for="(item,index) in dataShowPre">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample1" class="d-block card-header btn-info" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary" v-text="item.sort">Collapsable Card Example</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardExample1">
                  <div class="card-body">
                    <i v-text="item.infos"></i><hr>
                    <strong >是否适合阳台种植?  ：
                      <template v-if="item.judge == 0">
                          <i style="color: firebrick">不适宜</i>
                      </template>
                      <template v-if="item.judge == 1">
                        <i style="color: firebrick">适宜</i>
                      </template>
                    </strong>
                    <hr>
                    <i>植物录入时间：<i v-text="item.time"></i></i>
                    <hr>
                    <i style="margin-left: 89%"><a href="#" class="btn btn-info btn-circle btn-sm" v-on:click="doshowpre(index)">
                      <i class="fas fa-info-circle" title="点击我修改植物！"></i>
                    </a>
                      <a href="#" class="btn btn-danger btn-circle btn-sm" onclick='delRow(this)'>
                        <i class="fas fa-trash" title="点击我删除植物！"></i>
                      </a></i>
                  </div>
                </div>
              </div>

            </div>

            <!-- Border Bottom Utilities -->
            <div class="col-lg-6">

              <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                  月静夜未眠，云深无觅处。
                </div>
              </div>


              <div class="card shadow mb-4 border-bottom-primary" v-for="(item,index) in dataShowNex" style="margin-top: 25px" >
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample1" class="d-block card-header btn-info" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary" v-text="item.sort">Collapsable Card Example</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardExample1">
                  <div class="card-body">
                    <i v-text="item.infos"></i><hr>
                    <strong >是否适合阳台种植?  ：
                    <template v-if="item.judge == 0">
                      <i style="color: firebrick">不适宜</i>
                    </template>
                    <template v-if="item.judge == 1">
                      <i style="color: firebrick">适宜</i>
                    </template>
                  </strong>
                    <hr>
                    <i>植物录入时间：<i v-text="item.time"></i></i>
                    <hr>
                    <i style="margin-left: 89%"><a href="#" class="btn btn-info btn-circle btn-sm" v-on:click="doshownex(index)">
                      <i class="fas fa-info-circle" title="点击我修改植物！"></i>
                    </a>
                      <a href="#" class="btn btn-danger btn-circle btn-sm"  onclick="delRow(this)" v-on:click="dodel(item.id)">
                        <i class="fas fa-trash" title="点击我删除植物！"></i>
                      </a></i>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2020.Amazing-Balcony All rights reserved.<a target="_blank" href="https://www.aprildykj.com"></a>立体式阳台植物栽种系统</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Vue sources-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/vue.js"></script>


  <script>
    /* 删除 */
    function delRow(obj) {
      $(obj).parent().parent().parent().parent().fadeOut(1000);
    }
  </script>

  <!--/////////////////////////////////////--Vue Start--/////////////////////////////////////-->

  <script>

    var name = localStorage.getItem("username");

    var app = new Vue({

      mounted:function(){
        this.doicon();//需要触发的函数
	this.doalert();//需要触发的函数
      },

      el: '#wrapper',
      data: {
        sort: "",
        judge: "",
        infos: "",
        dataShowPre: [],
        dataShowNex: [],
        showsort: "",
        showinfos: "",
        username: name,
        alert: [],
        announcement: [],
        message: [],
        levels: [],
        reminds: [],
        tmdalert: [],
        tmdannouncement: [],
        tmdmessage: [],
        tmdlevels: [],
        tmdreminds: [],
        alert_sum: 0,
        message_sum: 0,
        modified_TIME: "",
        contain: "",
      },
      methods: {


        dodel:function(name){
          var url0 = "http://47.100.248.118:8888/info/";
          var url1 = name;
          var url3 = url0 + url1;
          axios({
            method: 'DELETE',
            url: url3,
            changeOrigin: false,
            withCredentials: true,
            headers: {
              'Content-Type': 'application/json'
            },

          }).then(function(response){
            //alert(response.data.id);
          });
        },
        doicon:function(){
          var that = this;
          axios({
            method: 'get',
            url: 'http://47.100.248.118:8888/infos',
            changeOrigin: false,
            withCredentials: true,
            //crossDomain: true,
            headers: {
            },
          }).then(function(result){
            var len = result.data.length;
            console.log(len);
            that.dataShowPre =  result.data.slice(0,(len + 1)/2);
            that.dataShowNex = result.data.slice(len/2);
          });
        },


        doshowpre: function(index) {
          var that = this;
          localStorage.setItem("sort",this.dataShowPre[index].sort);
          localStorage.setItem("judge",this.dataShowPre[index].judge);
          localStorage.setItem("infos",this.dataShowPre[index].infos);
          localStorage.setItem("pid",this.dataShowPre[index].id);
          window.location.href='updateplants.html'
        },

        doshownex: function(index) {
          var that = this;
          localStorage.setItem("sort",this.dataShowNex[index].sort);
          localStorage.setItem("judge",this.dataShowNex[index].judge);
          localStorage.setItem("infos",this.dataShowNex[index].infos);
          localStorage.setItem("pid",this.dataShowNex[index].id);
          window.location.href='updateplants.html'
        },


        doupdate:function(){
          axios({
            method: 'post',
            url: 'http://47.100.248.118:8888/updateUser',
            changeOrigin: false,
            withCredentials: true,
            headers: {
              'Content-Type': 'application/json'
            },
            data: JSON.stringify({
              //email:this.email
            })
          }).then(function(response){
            //alert(response.data.id);
            //console.log(response.data.id);
          });
        },

        //===============================Alert =====================================

        doalert:function(){
          var that = this;


          axios.all([

            axios({
              method: 'get',
              url: 'http://47.100.248.118:8888/getAlerts',
              changeOrigin: false,
              withCredentials: true,
              headers: {
                'Content-Type': 'application/json'
              },
              data: JSON.stringify({

              })
            }),

            axios({
              method: 'get',
              url: 'http://47.100.248.118:8888/showAnnouncements/1',
              changeOrigin: false,
              withCredentials: true,
              headers: {
                'Content-Type': 'application/json'
              },
              data: JSON.stringify({

              })
            }),

            axios({
              method: 'get',
              url: 'http://47.100.248.118:8888/userMsg',
              changeOrigin: false,
              withCredentials: true,
              headers: {
                'Content-Type': 'application/json'
              },
              data: JSON.stringify({

              })
            }),

            axios({
              method: 'get',
              url: 'http://47.100.248.118:8888/levels',
              changeOrigin: false,
              withCredentials: true,
              headers: {
                'Content-Type': 'application/json'
              },
              data: JSON.stringify({

              })
            }),

            axios({
              method: 'get',
              url: 'http://47.100.248.118:8888/remind',
              changeOrigin: false,
              withCredentials: true,
              headers: {
                'Content-Type': 'application/json'
              },
              data: JSON.stringify({

              })
            })

          ]).then(axios.spread(function (alert, announcement, message, levels, reminds) {

            // 上面两个请求都完成后，才执行这个回调方法
            console.log('alert', alert.data);
            console.log(announcement.data[0].contain);
            console.log('message', message.data);
            console.log('levels', levels.data);
            console.log('reminds', reminds.data);



            that.contain = announcement.data[0].contain;
            that.modified_TIME = announcement.data[0].modified_TIME;
            that.tmdalert = alert.data;
            that.tmdannouncement = announcement.data;
            that.tmdmessage = message.data;


            //--------------------------迷惑代码---------------------------//
            var i,j;
            for ( i=0;i<that.tmdalert.length;i++){
              console.log(i);
              if(that.tmdalert[i].state == "0"){
                j = 0;
                that.alert_sum++;
                var tmp = new Array(10);
                tmp[j] = that.tmdalert[i];
                that.alert[j] = tmp[j];
                console.log(j);
                j++;
              }
            }

            //--------------------------迷惑代码---------------------------//
            var m,n;
            for ( m=0;m<that.tmdmessage.length;m++){
              console.log(m);
              if(that.tmdmessage[m].state == "0"){
                n = 0;
                that.message_sum++;
                var tmp = new Array(10);
                tmp[n] = that.tmdmessage[m];
                that.alert[n] = tmp[n];
                console.log(n);
                j++;
              }
            }

            localStorage.setItem("tmdalert",JSON.stringify(that.alert));
            localStorage.setItem("tmdannouncement",JSON.stringify(that.tmdannouncement));

            //=============================================================
            //=========================History=============================
            /*
            for (var i=0;i<5;i++){
              console.log(that.tmdco2[i].data);

              that.co2[i] = that.tmdco2[i].data;
              that.water[i] = that.tmdwater[i].data;

            }*/

            //=============================================================
          }));

        },

        doupdateAlert: function(index){
          var that = this;
          var list = localStorage.getItem("tmdalert");
          var url1 = index;
          var url2 = "http://47.100.248.118:8888/updateAlert/"
          var url3 = "/0"
          axios({
            method: 'get',
            url: url2+url1+url3,
            changeOrigin: false,
            withCredentials: true,
            headers: {
              'Content-Type': 'application/json'
            },
            data: JSON.stringify({

            })
          }).then(function(result){
            window.location.href='index.html'
          });
        },

        doupdateMessage: function(index){
          var that = this;
          var url1 = index;
          var url2 = "http://47.100.248.118:8888/updateMsg/"
          var url3 = "/0"
          axios({
            method: 'get',
            url: url2+url1+url3,
            changeOrigin: false,
            withCredentials: true,
            headers: {
              'Content-Type': 'application/json'
            },
            data: JSON.stringify({

            })
          }).then(function(result){
            window.location.href='index.html'
          });
        }
        //================================Alert====================================

      }
    })
  </script>



<!--/////////////////////////////////////--Vue End--/////////////////////////////////////-->


<!--/////////////////////////////////////--Vue End--/////////////////////////////////////-->


</body>

</html>
